@font-face {
    font-family: 'Geist Regular';
    src: url('/fonts/statics-woff/Geist-Regular.woff') format('woff'),
         url('/fonts/statics-woff/Geist-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Geist Semibold';
    src: url('/fonts/statics-woff/Geist-SemiBold.woff') format('woff'),
         url('/fonts/statics-woff/Geist-Semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Geist Bold';
    src: url('/fonts/statics-woff/Geist-Bold.woff') format('woff'),
         url('/fonts/statics-woff/Geist-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
     font-family: 'Geist Thin';
     src: url('/fonts/statics-woff/Geist-Thin.woff') format('woff'),
          url('/fonts/statics-woff/Geist-Thin.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
   }

   @font-face {
     font-family: 'Geist Light';
     src: url('/fonts/statics-woff/Geist-Light.woff') format('woff'),
          url('/fonts/statics-woff/Geist-Light.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
   }